@import './colours.scss';
@import './layout.scss';
@import './helper-classes.scss';

/* Defaults */
a {
	color: $orange;
	text-decoration: none;

	&:hover {
		color: $yellow;
	}

	img {
		transition: transform 200ms;

		&:hover {
			transform: rotate(30deg);
		}
	}
}


